@use "colors" as *;
@use "mixins" as mixins;

.inputs {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  @include mixins.mq(950px) {
    flex-direction: row;
  }

  &__container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    position: relative;
    width: 100%;
    &:not(:last-child) {
      margin-bottom: 1.5rem;
      @include mixins.mq(950px) {
        margin-bottom: 0;
        margin-right: 1rem;
      }
      @include mixins.mq(1100px) {
        margin-right: 1rem;
      }
    }
    // background-color: blue;
    h1 {
      margin-bottom: 0.5rem;
    }
    input {
      // margin: 1rem;
      padding: 0.5rem 1rem;
      // padding-left: 2rem;
      color: $light;
      background-color: $dark;
      border: 1px solid $light;
      font-family: inherit;
      width: 100%;
      font-size: 1.5rem;
      outline: none;
    }
  }
  &__message {
    position: absolute;
    bottom: -25px;
    left: 0;
    font-style: italic;
    color: green;
    opacity: 0.7;
    display: none;
  }
}

// h1 {
//   text-align: center;
//   position: relative;
//   &::after {
//     width: 200px;
//     height: 1px;
//     background-color: $light;
//     content: "";
//     position: absolute;
//     left: 50%;
//     bottom: 5px;
//   }
// }
