.hotkeys#hotkeys
  .title
    hr
    h1 Hotkeys
    hr
  
  ul 
    li 
      span enter
      | Send input
    li 
      span ctrl + y
      | Copy output to clipboard
    li 
      span ctrl + i
      | Focus on the input box