.inputs#inputs
  .inputs__container
    h1 INPUT
    input#inputbox(type="text", name="inputbox", placeholder="ex: nl m" , autofocus)

  .inputs__container
    h1 OUTPUT
    input#outputbox(type="text", name="outputbox", placeholder="ex: tjj74s8zw834")
    p.inputs__message Ouput was copied to the clipboard!
    //- p.inputs__message.show Ouput was copied to the clipboard!