.instructions#instructions
  .title
      hr
      h1 Instructions
      hr
  .description
    p The syntax consists of two arguments separated by spaces:
    ul
      li The first argument is to tell the program which group of characters you want to include in the output.
      li The second argument is to tell the program the length of the output.
  .examples
    .examples__container
      .examples__header
        h2 Example 1
        .line
      ul 
        li Input: 
          span nl m
        li Output: 
          span tjj74s8zw834
      .examples__explanation
        h3 Explanation
        ul 
          li The first argument tells that we want to include numbers (n) and lowercase (l) characters in the output
          li The second argument tells length of the output must be medium (m) = 12 characters
    .examples__container
      .examples__header
        h2 Example 2
        .line
      ul
        li input: 
          span a l
        li output: 
          span %LO&}0K0wf2qyOa99EE,5x`]

      .examples__explanation
        h3 Explanation
        ul
          li The first argument tells that we want to include all group of characters in the output (numbers, lowercase letters, uppercase letters and symbols/punctuations)
          li The second argument tells length of the output must be large (l) = 24 characters
    //- p.examples__bottom The syntax is simple and intuitive, you can check the complete list down below: