header
  nav.nav
    .nav__left
      a.logo(href="https://www.nomousepassword.com/") NMPG
       <i class="fas fa-lock"></i>
        
    .nav__right
      a.links Instructions
      a.links Syntax
      a.links Hotkeys
      
