.syntax#syntax
  .title
    hr
    h1 Syntax
    hr

  .syntax__n-argument
    h2 1st argument
    .line
    
  .syntax__list
    ul
      li 
        span n
        |  &nbsp;or&nbsp;
        span d
        | &nbsp;Output will include numbers
      li 
        span l
        | &nbsp;Output will include lowercase letters
      li 
        span u
        | &nbsp;Output will include uppercase letters
      li 
        span s
        | &nbsp;Output will include symbols/punctuations
      li 
        span a
        | &nbsp;Output will include  all groups of characters

  .syntax__n-argument
    h2 2th argument
    .line   

  .syntax__list
    ul
      li 
        span s
        | &nbsp;Output length will be 6 (small)
      li 
        span l
        | &nbsp;Output length will be 24 (large)
      li 
        span x
        | &nbsp;Output length will be 48 (extra large)
      li 
        span \d+
        | (one or more digits) 
        | &nbsp;Output length will match the given number (max: 128)